{{ define "header.html"}}

<!DOCTYPE html>
<html lang="en" data-bs-theme="{{ .Config.Color }}">
<head>
  <title>ForAuth</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Favicon-->
  <link rel="icon" type="image/x-icon" href="/fs/public/favicon.png">
  {{ if eq .Config.NodePath "" }}
  <!-- Bootstrap and theme -->
  <link href="https://cdn.jsdelivr.net/npm/aceberg-bootswatch-fork@v5.3.3-2/dist/{{ .Config.Theme }}/bootstrap.min.css" rel="stylesheet">
  {{ else }} <!-- Local node_modules -->
  <link href="{{ .Config.NodePath }}/node_modules/bootswatch/dist/{{ .Config.Theme }}/bootstrap.min.css" rel="stylesheet">
  {{ end }}
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container-lg">
      <ul class="nav navbar-nav me-auto mb-2 mb-sm-0">
      </ul>
    </div>
  </nav>
{{ end }}