{{ define "sessions.html" }}

<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container-lg">
      <ul class="nav navbar-nav me-auto mb-2 mb-sm-0">
        <li class="nav-item">
          <a class="nav-link active" href="/">Config</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/advanced">Advanced</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/sessions">Sessions</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-lg mt-4">
    <div class="row">
    <div class="col-md">
      <div class="card border-primary mb-4">
        <div class="card-header">Current Sessions</div>
        <div class="card-body table-responsive">
          <table class="table table-borderless table-hover table-striped">
            <thead>
              <tr>
                <th>Username</th>
                <th>Host</th>
                <th>IP on Login</th>
                <th>Expires</th>
                <th>Del</th>
              </tr>
            </thead>
            <tbody>
              {{ range $key, $value := .Sessions }}
              <tr>
                <td>{{ $value.User }}</td>
                <td>{{ $value.Host }}</td>
                <td>{{ $value.ClientIP }}
                  {{ if $.Config.IPInfo }}
                    (<a href="https://ipinfo.io/{{ $value.ClientIP }}" target="_blank">ipinfo</a>)
                  {{ end }}
                </td>
                <td>{{ $value.TimeStr }}</td>
                <td><a href="/sessions/del/?key={{ $key }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                </svg></a></td>
              </tr>
              {{ end }}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
        

{{ template "footer.html" }}
{{ end }}